body
{
    text-align: center;
}
h1
{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}
#bio
{
    width: 100%;
    height: 800px;
    background-color: lightskyblue;
    
}
#myreview
{
    
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}
#work
{
    width: 100%;
    height: 800px;
    background-color: lightslategray;
    
}
img
{
    transition: transform .2s;
}
img:hover
{
    transform: scale(0.9);
}
.line
{
    height: 6px;
    background-color: brown;
    width: 70px;
    margin: 8px auto;
}
.menu
{
    list-style: none;
    right: 40px;
    top: 15px;
    position: fixed;
    z-index: 99;
}